<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gob.rewmobile"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gob.rewmobile.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gob.rewmobile.AccesoActivity"
            android:label="@string/title_activity_acceso"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gob.rewmobile.FragmentMesasActivity"
            android:label="@string/title_activity_fragment_mesas"
            android:parentActivityName="com.gob.rewmobile.AccesoActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gob.rewmobile.AccesoActivity" />
        </activity>
        <activity
            android:name="com.gob.rewmobile.PedidoActivity"
            android:label="@string/title_activity_pedido"
            android:parentActivityName="com.gob.rewmobile.FragmentMesasActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gob.rewmobile.FragmentMesasActivity" />
        </activity>
        <activity
            android:name="com.gob.rewmobile.ConfiguracionActivity"
            android:label="@string/action_settings"
            android:parentActivityName="com.gob.rewmobile.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gob.rewmobile.MainActivity" />
        </activity>
    </application>

</manifest>
